@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #fcfcfc;
  --color-bg: #000000;
  --color-fg: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #1b1b1b;
    --color-bg: #ffffff;
    --color-fg: #f1f1f1;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #690000 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #7c0f0f;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7c0f0f;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a81212;
  }

  .genre-transition {
    transition:
      max-height 0.5s ease-in-out,
      opacity 0.4s ease-in-out 0.1s;
  }
}